# downloaded on demand
/thindx/examples/assets

# build output
/target
/*.log
/Cargo.lock
/.vscode/merged.natvis

# build output (copied from workspace root)
/thindx/LICENSE*
/thindx/Readme.md

# build output
/xtask/target
